

<ion-content padding>


  <div *ngIf="submitted" id="overlay_loading">

    <div id="gifspinner" class="preloader-wrapper big active">
         <div class="spinner-layer spinner-blue">
         <div class="circle-clipper left">
           <div class="circle"></div>
         </div><div class="gap-patch">
           <div class="circle"></div>
         </div><div class="circle-clipper right">
           <div class="circle"></div>
         </div>
       </div>
    
    </div>
    loading data ....
    </div>
</ion-content>
