<ion-header>
  <ion-toolbar>
    <ion-title>
      MyLobby
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="align-middle">
      <ion-card-header>
        
        <ion-card-title>Welcome to MyLobby - Please Sign In</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-input type="text" placeholder="Email"></ion-input>
          
          <ion-input type="password" placeholder="Password"></ion-input>
          <br>
          <ion-button style="width:90%;" (click)="signIn()">Sign In</ion-button>
        </ion-card-content>
        <p>Not a memeber? Sign up here</p>
    </ion-card>

        
</ion-content>
